.el-input__inner:hover {
  border-color: #d30102;
}

.el-input__inner:focus {
  border-color: #d30102;
}

.el-input__inner {
  border-radius: 2px;
  border: 1px solid #d8d8d8;
}

.el-textarea__inner:hover {
  border-color: #d30102;
}

.el-textarea__inner:focus {
  border-color: #d30102;
}

.el-textarea__inner {
  border-radius: 2px;
  border: 1px solid #d8d8d8;
}

.el-input__prefix {
  color: #000000;
}

// .el-input__suffix {
//   color: #ffb9b5
// }