@import '../varible.scss';
$editColor: #acacac;
$editActiveColor: red;
.k-image {
  margin: 0;
  padding: 0;
}
.k-image.is-preview {
  width: auto;
  height: auto;
  border: 1px dashed $editColor;
}
.k-image.is-editview {
  width: auto;
  height: auto;
}
// editactive
.k-image.edit-active {
  border: 2px dashed $editActiveColor;
}
