@import '../varible.scss';
$editColor: #dcdfe6;
$activeColor: red;
.k-row {
  padding: 4px;
  display: flex;
  & + .k-row {
    margin-top: 4px;
  }
}
// edit
.k-row.is-edit {
  overflow: auto;
  border-style: solid;
  border-color: $editColor;
}
// preview
.k-row.is-preview {
  height: 48px;
  border-width: 4px;
}
// editview
.k-row.is-editview {
  min-height: 72px;
  border-width: 8px;
  height: auto;
  resize: vertical;
}
// active
.k-row.edit-active {
  border-color: $activeColor;
}
.flex-left {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-right {
  justify-content: flex-end;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.vertical-top {
  align-items: flex-start;
}
.vertical-middle {
  align-items: center;
}
.vertical-bottom {
  align-items: flex-end;
}
.vertical-stretch {
  align-items: stretch;
}
