@import '@/styles/server.scss';
.page-wrp {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  &-header {
    flex: 0 0 48px;
    border-bottom: 1px solid $theme-color;
  }
  &-content {
    flex: 1 1 auto;
    height: 0;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 12px 12px 0px;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
  }
  .gird{
    flex: 0 0 320px;
    height: 220px;
    margin-bottom: 12px;
    box-shadow: 0px -2px 4px 0px #ccc, 2px 0px 4px 0px #eee, 0px 2px 4px 2px #eee, -2px 0px 4px 2px #ccc; 
    display: flex;
    flex-wrap: wrap;
    color: $theme-color;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    &:hover{
      .gird-handle{
        right: 0;
        background-color: rgba($color: #000000, $alpha: 0.66);
      }
    }
  }
  .gird-add{
    &:hover{
      background-color: rgba($color: $theme-color, $alpha: 0.1);
    }
    &:active{
      background-color: #fff;
    }
  }
  .gird-handle{
    position: absolute;
    top:0;
    right: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba($color: #000000, $alpha: 0);
    transition: all 0.3s;
    text-align: center;
    .show-text{
      color: #fff;
      font-size: 16px;
      & + .show-text{
        margin-left: 24px;
      }
    }
  }
}