/**
 * 全局样式
 * */ 

div {
  box-sizing: border-box;
}
html,body {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
#app {
  height: 100%;
  min-width: 1060px;
  .root-router-page{
    height: 100%;
  }
}