/**
 * 全局样式变量表
*/
// 顶部导航栏高
$topHeight: 48px;
// 左侧菜单栏宽
$leftWidth: 208px;
// 内容窗口外边距
$contentMargin: 24px;



// 颜色
$topBgColor: #d90301;
$pageBgColor: #f2f2f2;
$yellowColor: #ff6a00;
$easyYellowColor: #fb8a3a;