html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  overflow: hidden;
}
#app{
  height: 100%;
  overflow: auto;
  position: relative;
}
div {
  box-sizing: border-box;
}
.root-page{
  padding: 14px;
}