@import '../varible.scss';
$editColor: #acacac;
.k-col{
  display: flex;
  flex-wrap: wrap;
}
.is-edit{}
.is-preview{}
.k-col.is-edit{
  border: 1px dashed $editColor;
}
.k-col.is-preview{
  height: 20px;
}
.k-col.flex-row{
  flex-direction: row;
}
.k-col.flex-col{
  flex-direction: column;
}