@import '../varible.scss';
$editColor: #acacac;
$editActiveColor: red;
.k-col{
  display: flex;
  flex-wrap: wrap;
  & > .k-row{
    height: 100%;
    flex:1;
  }
}
// edit
.k-col.is-edit{
  border: 1px dashed $editColor;
}
// preview
.k-col.is-preview{
  height: 20px;
}
// editview
.k-col.is-editview{
  padding: 4px;
  min-height: 72px;
}
// editactive
.k-col.edit-active{
  border: 2px dashed $editActiveColor;
}
.k-col.flex-row{
  flex-direction: row;
}
.k-col.flex-col{
  flex-direction: column;
}