@import '../varible.scss';
$editColor: #acacac;
$editActiveColor: red;
.k-col {
  display: flex;
  flex-wrap: wrap;
  & > .k-row {
    height: 100%;
    flex: 1;
  }
  & + .k-col {
    margin-left: 4px;
  }
}
// edit
.k-col.is-edit {
  border-style: dashed;
  border-color: $editColor;
}
// preview
.is-edit.is-preview {
  height: 20px;
  border-width: 2px;
}
// editview
.is-edit.is-editview {
  padding: 0;
  border-width: 4px;
  min-height: 72px;
}
// editactive
.k-col.edit-active {
  border-color: $editActiveColor;
}
.k-col.flex-row {
  flex-direction: row;
}
.k-col.flex-col {
  flex-direction: column;
}
