$previewColor: #acacac;
$editColor: #333;
$editActive: red;
.k-p{
  margin:0;
  padding: 0;
  font-size: 14px;
}
// preview
.k-p.is-preview{
  color: $previewColor !important;
}
// editview
.k-p.is-editview{
  color: $editColor;
}
// active
.k-p.edit-active{
  border: 2px dashed $editActive;
}